[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

sphinx-autobuild = "*"
yapf = "*"
restructuredtext-lint = "*"


[packages]

sphinx = "*"
sphinx-bootstrap-theme = "*"
sphinx-rtd-theme = "*"


[requires]

python_version = "3.6"
