[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

sphinx-autobuild = "*"
yapf = "*"
restructuredtext_lint = "*"


[packages]

Sphinx = "*"
sphinx_rtd_theme = "*"


[requires]

python_version = "3.6"
